.app {
  border-radius: 0.5vw;
  /* margin: 1%; */
  background-color: #303030;
  color: white;
  margin: 2% 15% 2% 15%;
  overflow: hidden; /* Hide scrollbars */
}

.switch {
  /* margin-bottom: 5%; */
}

html {
}
