.app-component {
  border-radius: 0.5vw;
  /* margin: 1%; */
  background-color: #303030;
  color: white;
  margin: 3vh 15vw 3vh 15vw;
  overflow: hidden;
  /* Hide scrollbars */
  /* padding: 2vh 2vw 0 2vw; */
  border: solid rgba(15, 15, 15, 0.562) 1px;
}

.switch {
  /* margin-bottom: 5%; */
  position: fixed;
}

html {}